<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/insert_my_styles.css') }}">
</head>
<body>
    <form action="/save_data_my" method="POST" enctype="multipart/form-data">
        {{ csrf_token() }}
        <label for="type">옷 종류:</label>
        <select id="type" name="type" required>
            <option value="">선택하세요</option>
        </select>
        <label for="detail">세부 종류:</label>
        <select id="detail" name="detail" required>
            <option value="">선택하세요</option>
        </select>
        <label for="brand">브랜드:</label>
        <input type="text" id="brand" name="brand" list="brand-list" placeholder="브랜드 검색" required>
        <label for="color">색깔:</label>
        <input type="text" id="color" name="color" required>
        <label for="image">사진:</label>
        <input type="file" id="image" name="image" accept="image/*" required onchange="previewImage(event)">
        <img id="image-preview" src="#" alt="Image Preview" style="display:none; max-width: 200px; max-height: 200px;"/>
        <button type="submit">Save</button>
        <a href="/" class="btn btn-secondary">돌아가기</a>
    </form>
    <datalist id="brand-list"></datalist>
    <script type="module" src="./static/script/script_my.js"></script>
</body>
</html>