<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Save Data</title>
    <script type="module" src="./static/script.js"></script>
</head>

<body>
    <form action="/save_data_my" method="POST" enctype="multipart/form-data">
        <label for="type">옷 종류:</label>
        <select id="type" name="type" required>
            <option value="">선택하세요</option>
            <option value="상의">상의</option>
            <option value="바지">바지</option>
            <option value="신발">신발</option>
            <option value="모자">모자</option>
            <option value="악세서리">악세서리</option>
        </select>
        <label for="detail">세부 종류:</label>
        <select id="detail" name="detail" required>
            <option value="">선택하세요</option>
        </select>
        <label for="brand">브랜드:</label>
        <input type="text" id="brand" name="brand" list="brand-list" placeholder="브랜드 검색" required>
        <datalist id="brand-list"></datalist>
        <label for="color">색깔:</label>
        <input type="text" id="color" name="color" required>
        <label for="image">사진:</label>
        <input type="file" id="image" name="image" accept="image/*">
        <button type="submit">Save</button>
        <a href="/" class="btn btn-secondary">돌아가기</a>
    </form>
</body>

</html>