<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/insert_outfit_styles.css') }}">
</head>
<body>
    <form action="/save_data_outfit" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div id="outfit-container">
            <div class="outfit-item">
                <label for="type-0">옷 종류:</label>
                <select id="type-0" name="type-0" onchange="updateTypeOptions('0')" required>
                    <option value="">선택하세요</option>
                </select>
                <label for="detail-0">세부 종류:</label>
                <select id="detail-0" name="detail-0" required>
                    <option value="">선택하세요</option>
                </select>
                <label for="brand">브랜드:</label>
                <input type="text" id="brand" name="brand-0" list="brand-list" placeholder="브랜드 검색" required>
                <label for="color">색깔:</label>
                <input type="text" id="color" name="color-0" required>
                <label for="memo-0">메모:</label>
                <textarea id="memo-0" name="memo-0" rows="1" style="resize: both;"></textarea>
            </div>
        </div>
        <button type="button" onclick="addOutfitItem()">+ 추가</button>
        <label for="image">사진:</label>
        <input type="file" id="image" name="image" accept="image/*" required onchange="previewImage(event)">
        <img id="image-preview" src="#" alt="Image Preview" style="display:none; max-width: 200px; max-height: 200px;"/>
        <button type="submit">Save</button>
        <a href="/" class="btn btn-secondary">돌아가기</a>
        <input type="hidden" name="outfit_count" value="" id="outfit_count">
    </form>
    <datalist id="brand-list"></datalist>
    <script type="module" src="./static/script/script_outfit.js"></script>
</body>
</html>