<!DOCTYPE html>
<html>
<head>
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_styles.css') }}">
</head>
<body>
    <h1>Main Page</h1>
    <p>Cyber Closet</p>
    <a href="{{ url_for('insert_my') }}">
        <button>옷 등록하기</button>
    </a>
    <a href="{{ url_for('show_my') }}">
        <button>옷 조회하기</button>
    </a>
    <a href="{{ url_for('insert_outfit') }}">
        <button>코디 등록하기</button>
    </a>
    <a href="{{ url_for('show_outfit') }}">
        <button>코디 조회하기</button>
    </a>
    <a href="{{ url_for('register') }}">
        <button>회원가입</button>
    </a>
    <a href="{{ url_for('login') }}">
        <button>로그인</button>
    </a>
</body>
</html>