<!DOCTYPE html>
<html>
<head>
    <title>Data Display</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/show_my_styles.css') }}">
</head>
<body>
    <h1>My Closet</h1>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Detail</th>
                <th>Brand</th>
                <th>Color</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.type }}</td>
                <td>{{ item.detail }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.color }}</td>
                <td>
                    {% if item.image %}
                    <img src="{{ url_for('static', filename='img/' ~ item.image) }}" alt="{{ item.image }}" width="100">
                    {% else %}
                    No image
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('edit_my_item', item_id=item._id) }}">수정</a>
                    <button class="delete-btn" data-id="{{ item._id }}">삭제</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/" class="btn btn-secondary">돌아가기</a>

    <script type="module" src="./static/script/script_my.js"></script></body>
</html>
